@{
    ViewData["Title"] = "Home Page";
    ViewData["Host"] = this.Context.Response.HttpContext.Request.Host;
}

<div class="text-center">    
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <label>
    Response Provided by: @ViewData["Host"]
    </label>

</div>
